*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#020b22;
  color:white;
}

/* NAVBAR */
.navbar{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 7%;
  background:#081734;
  position:sticky;
  top:0;
  z-index:999;
}

.logo{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo img{
  width:70px;
}

.logo span{
  color:white;
  font-size:14px;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:40px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:20px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#00bfff;
}


/* HERO */
.hero{
  min-height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:50px 20px;
}

.hero-logo{
  width:450px;
  max-width:90%;
}

.hero h1{
  font-size:70px;
  margin-top:10px;
}

.hero p{
  margin-top:5px;
  font-size:24px;
}


/* CUSTOM SECTION */
.custom-section{
  display:flex;
  justify-content:center;
  padding:40px 20px;
}

.custom-box{
  width:90%;
  max-width:1000px;
  background:#111d40;
  padding:50px;
  border-radius:20px;
  text-align:center;
  text-decoration:none;
  color:white;
  transition:0.3s;
}

.custom-box:hover{
  transform:translateY(-5px);
  background:#162856;
}

.custom-box h2{
  font-size:45px;
}


/* CATALOG */
.catalog-section{
  padding:80px 7%;
}

.catalog-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:40px;
}

.catalog-card{
  background:#111d40;
  border-radius:20px;
  min-height:300px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  text-decoration:none;
  color:white;
  padding:30px;
  transition:0.3s;
}

.catalog-card:hover{
  transform:scale(1.03);
  background:#1a2f66;
}

.catalog-card h2{
  font-size:45px;
  margin-bottom:20px;
}

.catalog-card p{
  font-size:28px;
  line-height:1.5;
}

.website-preview img{
  width:100%;
  border-radius:20px;
  border:3px solid white;
}


/* CONTACT */
.contact-section{
  padding:100px 20px;
  display:flex;
  justify-content:center;
}

.contact-box{
  background:#1a233f;
  padding:50px;
  width:90%;
  max-width:700px;
  border-radius:20px;
}

.contact-box h2{
  text-align:center;
  font-size:55px;
  margin-bottom:30px;
}

form{
  display:flex;
  flex-direction:column;
  gap:20px;
}

input,
textarea{
  padding:20px;
  border:none;
  border-radius:10px;
  background:#555d6f;
  color:white;
  font-size:18px;
}

textarea{
  min-height:150px;
  resize:none;
}

button{
  padding:18px;
  border:none;
  border-radius:10px;
  background:#00bfff;
  color:white;
  font-size:20px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#0099cc;
}


/* FOOTER */
footer{
  background:#081734;
  text-align:center;
  padding:30px;
}

footer h3{
  font-size:30px;
  margin-bottom:10px;
}

footer p{
  margin:5px 0;
}


/* RESPONSIVE */
@media(max-width:900px){

  .navbar{
    flex-direction:column;
    gap:20px;
  }

  .nav-links{
    gap:20px;
  }

  .hero h1{
    font-size:50px;
  }

  .custom-box h2{
    font-size:30px;
  }

  .catalog-grid{
    grid-template-columns:1fr;
  }

  .catalog-card h2{
    font-size:35px;
  }

  .catalog-card p{
    font-size:22px;
  }

  .contact-box h2{
    font-size:40px;
  }
}

@media(max-width:500px){

  .nav-links a{
    font-size:16px;
  }

  .hero h1{
    font-size:38px;
  }

  .hero p{
    font-size:18px;
  }

  .custom-box h2{
    font-size:24px;
  }

  .catalog-card{
    min-height:230px;
  }

  .catalog-card h2{
    font-size:28px;
  }

  .catalog-card p{
    font-size:18px;
  }

}